.logo {
  font-size: 18;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3%;
}
.logo.accent {
  color: #4d5ae5;
}
.header-navigation {
  font-size: 16;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
  letter-spacing: 2%;
}
.header-address {
  font-size: 16;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 24px;
  letter-spacing: 2%;
}
